<!DOCTYPE html>
<html>
  <head>
    <title>REPORT PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Report</h1>
    <hr>
    <h2>Summary</h2>
    <table>
      <tr>
        <td colspan="3">
          <h4>Name : <%= info['name'] %></h4>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <h4>TimeStamp : <%= info['timestamp'] %></h4>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Tests : <%= info['tests'] %></h4></p>
        </td>
        <td>
          <p><h4>Failures : <%= info['failures'] %></h4></p>
        </td>
        <td>
          <p><h4>Time : <%= info['time'] %></h4></p>
        </td>
      </tr>
    </table>

    <hr>
    <h2>Death Test Report</h2>

    <hr>
    <h2>Unit Test Report</h2>
      <% for(var i=0; i<testsuites.length; i++) { %>
        <br>
        <h4>><%= testsuites[i]['info']['name'] %></h4>
        <tr>
          <td>
            Tests : <%= testsuites[i]['info']['tests'] %>
          </td>
          <td>
            Failures : <%= testsuites[i]['info']['failures'] %>
          </td>
          <td>
            Time : <%= testsuites[i]['info']['time'] %>
          </td>
        </tr>
        <br><br>
        <table>
            <tr>
              <td>
                Scenario No.
              </td>
              <td>
                State
              </td>
              <td>
                Time
              </td>
            </tr>
          <% for(var j=0; j<testsuites[i]['testcase'].length; j++) { %>
            <tr>
              <td>
                <%= testsuites[i]['testcase'][j]['name'] %>
              </td>
              <td>
                <%= testsuites[i]['testcase'][j]['state'] %>
              </td>
              <td>
                <%= testsuites[i]['testcase'][j]['time'] %>
              </td>
            </tr>
          <% } %>
        </table>
      <% } %>
  </body>
</html>
